:root {
    --txtgeral: #f1f1f1;
    --acabamento: #000;
    --txtmenu: #8f8e8e;
    --txtdestaque: #00ff08;
    --span: #0815c7;
    --fontTitulo: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --fontTxt: "Poppins", sans-serif;
  }
  
  /* ESTILOS GERAIS */
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
     height: 100vh;
  }
  
  .flex {
    display: flex;
  }
  
  .interface {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .btn-contato a {
    text-decoration: none;
    color: var(--acabamento);
    background-color: var(--txtdestaque);
    padding: 10px 40px;
    font-family: var(--fontTxt);
    font-weight: 600;
    border-radius: 20px;
    display: inline-block;
    transition: 0.2s;
  }
  
  .btn-contato a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px var(--txtdestaque);
  }
  
  .titulo{
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
    font-weight: bolder;
    font-family: var(--fontTitulo);
  }
  
  .titulo span{
    color: var(--span);
  }
  
  /* ESTILO CABEÇALHO/MENUN */
  
  header {
    background-color: var(--acabamento);
    padding: 40px 4%;
    position: sticky;
    top: 0;
    z-index: 999999999;
  }
  
  header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header .menu-desktop {
    margin: auto;
  }
  
  header .menu-desktop a {
    text-decoration: none;
    color: var(--txtmenu);
    margin: 0 30px;
    display: inline-block;
    transition: 0.2s;
  }
  
  header .menu-desktop a:hover {
    transform: scale(1.1);
    color: var(--txtgeral);
  }
  
  header .menu-desktop #pagina-atual{
    color: var(--txtgeral);
    border: 1px solid #f1f1f14d;
    padding: 3px 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px #f1f1f165;
  }