:root {
  --txtgeral: #f1f1f1;
  --acabamento: #000;
  --txtmenu: #8f8e8e;
  --txtdestaque: #00ff08;
  --span: #0815c7;
  --fontTitulo: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --fontTxt: "Poppins", sans-serif;
}

/* ESTILOS GERAIS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   height: 100vh;
}

.flex {
  display: flex;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-contato a {
  text-decoration: none;
  color: var(--acabamento);
  background-color: var(--txtdestaque);
  padding: 10px 40px;
  font-family: var(--fontTxt);
  font-weight: 600;
  border-radius: 20px;
  display: inline-block;
  transition: 0.2s;
}

.btn-contato a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px var(--txtdestaque);
}

.titulo{
  text-align: center;
  padding-bottom: 60px;
  font-size: 2em;
  font-weight: bolder;
  font-family: var(--fontTitulo);
}

.titulo span{
  color: var(--span);
}

/* ESTILO CABEÇALHO/MENUN */

header {
  background-color: var(--acabamento);
  padding: 40px 4%;
  position: sticky;
  top: 0;
  z-index: 99999999;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .menu-desktop {
  margin: auto;
}

header .menu-desktop a {
  text-decoration: none;
  color: var(--txtmenu);
  margin: 0 30px;
  display: inline-block;
  transition: 0.2s;
}

header .menu-desktop a:hover {
  transform: scale(1.1);
  color: var(--txtgeral);
}

header .menu-desktop #pagina-atual{
  color: var(--txtgeral);
  border: 1px solid #f1f1f14d;
  padding: 3px 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px #f1f1f165;
}

/* ESTILOS TOPO MAIN */



.txt-topo-site .flex {
  gap: 80px;
  flex-wrap: wrap;

}

.txt-topo-site .interface{
    padding: 80px 4%;
    position: fixed;
    max-width: 1280px;
}

.img-fundo {
    position: relative;
    height: 89.2vh;
    background-image: url("../images/imgemfundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .desfoque-fundo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: grid;
    justify-items: center;
  }


.txt-topo-site .data{
    display: flex;
    gap: 30px;
    margin: 30px 0;
    margin-top: 200px;
    justify-content: center;
}

.txt-topo-site .data > h1{
    color: var(--txtgeral);
    font-size: 1.1em;
    font-family: var(--fontTxt);
}

.txt-topo-site .img-logo-topo{
    text-align: center;
    margin: 10px 0;
    max-width: 1280px;
}

.txt-topo-site .img-logo-topo img{
    width: 300px;
    image-rendering: auto;
}

.txt-topo-site .organizacao{
    border: 1px solid #f1f1f1;
    margin-top: 100px;
    padding: 10px;
    border-radius: 30px;
    transition: 0.2s;
}

.txt-topo-site .organizacao:hover{
    background-color: #b1b1b11c;
    transform: scale(1.1);
    box-shadow: 0 0 10px #f1f1f1;
}

.txt-topo-site .organizacao p{
    font: 1.5em;
    color: var(--txtgeral);
    font-family: var(--fontTxt);
    
    font-weight: 600;
}

.txt-topo-site .organizacao > .parceiros-topo-site img{
    height: 70px;
    margin: 40px;
    padding: 0 20px;
}


/* ESTILO MEIO DO SITE */

.txt-meio-site{
  background-color: #f1f1f1;
  padding: 80px 0;
}

.txt-meio-site .flex{
  gap: 60px;
  align-items: center;
}

.txt-meio-site .txt-sobre-evento > p{
   font-size: 1.1em;
   line-height: 1.5em;
   padding-bottom: 10px;
   text-indent: 1.3em;
   font-family: var(--fontTxt);
   text-align: justify;
   font-weight: 500;
}

.txt-meio-site .img-evento  img{
  border-radius: 30px;
}




